<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>To-Do List</title>
</head>
<style>
      body {
      font-family: Arial, sans-serif;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid blue;
    }

    h1 {
      color: #333;
    }

    form {
      display: flex;
      margin-bottom: 10px;
      
    }

    input[type="text"] {
      flex: 1;
      padding: 5px;
      font-size: 16px;
    }

    button {
      padding: 5px 10px;
      font-size: 16px;
      background-color: #00ff9d;
      color: #FFF;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #00b35c;
    }

    ul {
      list-style: none;
      padding: 0;
     
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background-color: #f2f2f2;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    li button {
      background-color: #eeff00;
     
    }

    li button:hover {
      background-color: #00cc52;
    }
</style>
<body>
  <h1>To-Do List</h1>
  <form action="/add" method="POST">
    <input type="text" name="task" required>
    <button type="submit">Add Task</button>
  </form>
  <ul>
    <% tasks.forEach((task) => { %>
      <li>
        <%= task %>
      
        <form action="/delete" method="POST" style="display: inline;">
          <input type="hidden" name="task" value="<%= task %>">
          <button type="submit" class="delete">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
